@page
@model projectASP.Pages.Cours.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_LayoutProfesseur.cshtml";
}


<h1 style="text-align: center;" class="text-secondary">Creer un cour</h1>
<hr />
<div class="pos">
    <div class="card">
        <div class="row">
            <div class="col-md-10 mx-auto" style="margin-top:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: bold;">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="Cour.nom" class="control-label"></label>
                            <input asp-for="Cour.nom" class="form-control" />
                            <span asp-validation-for="Cour.nom" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="Cour.CIN" class="control-label"></label>
                            <input asp-for="Cour.CIN" class="form-control" />
                            <span asp-validation-for="Cour.CIN" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="Cour.semestre" class="control-label"></label>
                            <input asp-for="Cour.semestre" class="form-control" />
                            <span asp-validation-for="Cour.semestre" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="Cour.date" class="control-label"></label>
                            <input asp-for="Cour.date" class="form-control" />
                            <span asp-validation-for="Cour.date" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="Cour.filiere" class="control-label"></label>
                            <input asp-for="Cour.filiere" class="form-control" />
                            <span asp-validation-for="Cour.filiere" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="Cour.lien" class="control-label"></label>
                            <input asp-for="Cour.lien" class="form-control" />
                            <span asp-validation-for="Cour.lien" class="text-danger"></span>
                        </div>
                    </div>
                    <button style="margin-bottom:10px;" type="submit" id="sidebarCollapse" class="btn btn-info">

                        <span><i class="fas fa-plus"></i>Ajouter</span>
                    </button>
                    
                </form>
            </div>
        </div>
    </div>


</div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
