@page
@model projectASP.Pages.EtudiantModel
@{
    ViewData["Title"] = "Etudiant";
}

<a asp-page="Profile">Profile</a>
<a asp-page="Note">Notes</a>
<a asp-page="Cours">Cours</a>
<a asp-page="Projets">Projets</a>
<a asp-page="Absence">Absences</a>
<a asp-page="Demande">Demande</a>
