@page
@model projectASP.Pages.loginModel
@{
    ViewData["Title"] = "login";
    Layout = "~/Pages/Shared/_LayoutEtudiant.cshtml";
}

<style>
    body {
        background-image: url("/img/bg.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
    }

    .login {
        margin-top: 100px;
        width: 400px;

    }

        .login .card {
            background: rgba(0,0,0,.6);
            margin: auto;
        }

        .login label {
            font-size: 16px;
            color: #ccc;
        }

        .login input {
            font-size: 20px !important;
            color: #fff;
        }

        .login button:hover {
            padding: 0px 40px;
        }
    }
</style>

<div class="row login">
    <div class="col col-sm-12 14 offset-14">
        <div class="card" style="width:500px;">
            <div class="card-action red white-text">
                <h3>Login form</h3>
            </div>

            <div class="card-content">
                <div class="form-field">

                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-field">
                            <label asp-for="Etudiant.login" class="control-label"></label>
                            <input asp-for="Etudiant.login" class="form-control" />
                            <span asp-validation-for="Etudiant.login" class="text-danger"></span>
                        </div>


                        <div class="form-field">
                            <label asp-for="Etudiant.password" class="control-label"></label>
                            <input asp-for="Etudiant.password" class="form-control" />
                            <span asp-validation-for="Etudiant.password" class="text-danger"></span>
                        </div>

                        <div class="form-filed center-align">
                            <button class="btn-large red" type="submit">Login </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

