@page
@model projectASP.Pages.ProfesseurModel
@{
    ViewData["Title"] = "Professeur";
}

<a asp-page="/ProfilProf">Profil</a>
<a asp-page="/Notes/Index">Gestion de notes</a>
<a asp-page="/Cours/Index">Gestion de cours</a>
<a asp-page="/Projets/Index">Gestion de projets</a>
<a asp-page="/Absence/Index">Gestion des absences</a>
