@page
@model projectASP.Pages.Etudiants.CreateModel

@{ ViewData["Title"] = "Create"; }


<h1 style="text-align: center;" class="text-secondary">Creer un Etudiant</h1>
<hr />
<div class="pos">
<div class="card">
    <div class="row">
        <div class="col-md-10 mx-auto" style="margin-top:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: bold;">
            <form method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Etudiant.CIN" class="control-label"></label>
                        <input asp-for="Etudiant.CIN" class="form-control" />
                        <span asp-validation-for="Etudiant.CIN" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Etudiant.login" class="control-label"></label>
                        <input asp-for="Etudiant.login" class="form-control" />
                        <span asp-validation-for="Etudiant.login" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Etudiant.nom" class="control-label"></label>
                        <input asp-for="Etudiant.nom" class="form-control" />
                        <span asp-validation-for="Etudiant.nom" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Etudiant.prenom" class="control-label"></label>
                        <input asp-for="Etudiant.prenom" class="form-control" />

                        <span asp-validation-for="Etudiant.prenom" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Etudiant.datenaissance" class="control-label"></label>
                        <input asp-for="Etudiant.datenaissance" class="form-control" />
                        <span asp-validation-for="Etudiant.datenaissance" class="text-danger"></span>
                    </div>


                    <div class="col-sm-6">
                        <label asp-for="Etudiant.email" class="control-label"></label>
                        <input asp-for="Etudiant.email" class="form-control" />
                        <span asp-validation-for="Etudiant.email" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Etudiant.tel" class="control-label"></label>
                        <input asp-for="Etudiant.tel" class="form-control" />
                        <span asp-validation-for="Etudiant.tel" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Etudiant.CNE" class="control-label"></label>
                        <input asp-for="Etudiant.CNE" class="form-control" />
                        <span asp-validation-for="Etudiant.CNE" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Etudiant.filiere" class="control-label"></label>
                        <input asp-for="Etudiant.filiere" class="form-control" />
                        <span asp-validation-for="Etudiant.filiere" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Etudiant.password" class="control-label"></label>

                        <input asp-for="Etudiant.password" class="form-control" />


                        <span asp-validation-for="Etudiant.password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">

                        <label asp-for="Etudiant.image" class="control-label"></label>

                        <input asp-for="Etudiant.image" class="form-control" />
                        <span asp-validation-for="Etudiant.image" class="text-danger"></span>
                    </div>
                </div>



                <button style="margin-bottom:10px;" type="submit" id="sidebarCollapse" class="btn btn-info">

                    <span><i class="fas fa-plus"></i>Ajouter</span>
                </button>

            </form>

        </div>
    </div>
</div>


    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
