@page
@model projectASP.Pages.Absences.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_LayoutProfesseur.cshtml";
}

<h1 style="text-align: center;" class="text-secondary">Modifier une absence</h1>
<hr />
<div class="card">
    <div class="row">
        <div class="col-md-10 mx-auto" style="margin-top:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: bold;">
            <form method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Absence.CNE" />
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Absence.CIN" class="control-label"></label>
                        <input asp-for="Absence.CIN" class="form-control" />
                        <span asp-validation-for="Absence.CIN" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Absence.matiere" class="control-label"></label>
                        <input asp-for="Absence.matiere" class="form-control" />
                        <span asp-validation-for="Absence.matiere" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Absence.date" class="control-label"></label>
                        <input asp-for="Absence.date" class="form-control" />
                        <span asp-validation-for="Absence.date" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Absence.justification" class="control-label"></label>
                        <input asp-for="Absence.justification" class="form-control" />
                        <span asp-validation-for="Absence.justification" class="text-danger"></span>
                    </div>
                </div>
                <button style="margin-bottom:10px;" type="submit" id="sidebarCollapse" class="btn btn-info">

                    <span><i class="fas fa-plus"></i>Modifier</span>
                </button>
               
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
